.info-1, .info-2, .info-3 {
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

section  {
    float: left;
    padding: 20px;
    margin: 3px;
    border-radius: 15px;
}

.info-1 {
    background-image: url(assets/task2-bg.jpeg);
    background-size: cover;
    background-position: bottom;
}

.info-2 {
    background-image: url(assets/task2-bg1.jpeg);
    background-size: cover;
    background-position: bottom;
}

.info-3 {
    background-image: url(assets/task2-bg2.jpg);
    background-size: cover;
    background-position: bottom;
}