html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
}

/* my solution: */
.task-one {
    background-color: aqua;
}

.task-one:before {
    background-color: rgb(195, 0, 255);
    content: "Once upon a time ...";
}

.task-one:after {
    background-color: rgb(195, 0, 255);
    content: "...The end.";
}

.task-two {
    margin: auto;
    background-image: url(assets/beach.jpg);
    background-size: cover;
    height: 600px;
    width: 400px;
    /* clip-path: ...  */
}

.task-two::before {
    display: block;
    content:"";
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-bottom: 300px solid transparent;
}

.task-two::after {
    display: block;
    content:"";
    border-left: 200px solid white;
    border-right: 200px solid white;
    border-top: 300px solid transparent;
}

.task-three {
    background-image: url(assets/smiley.jpg);
    height: 410px;
   /* width: 410px; and */
   /* margin: 0 auto; */ 
    background-repeat: no-repeat;
    transform: rotate(180deg);  
    background-position: center;
}