* {
    margin: 0; 
    padding: 0;
    /* box-sizing: border-box; no need in this case, but mostly in using flex boxes */
}

.box1 { background-color: indigo; }
.box2 { background-color: rgb(168, 69, 238); }
.box3 { background-color: rgb(28, 171, 214); }
.box4 { background-color: rgb(226, 39, 39); }
.box5 { background-color: rgb(11, 23, 197); }
.box6 { background-color: rgb(0, 131, 0); }
.box7 { background-color: rgb(251, 255, 0); }

div {
    display: flex;
}

/* desktop */
div {
    height: 100vh; /* resizing from up to top will shrink, cuz of the vh. px would be fixed and bring whitespace under the boxes */
    flex-basis: 100%;
    flex-flow: wrap; /*row is default, no need to write */
}

.box1, .box2, .box6, .box7  {
    flex-basis: 50%;
 }

.box3, .box4, .box5 {
    flex-basis: 33.33%; 
}

/* tablet  */
@media screen and (max-width: 800px) {
    div  {
        height: 100vh;
        flex-basis: 100%;
        flex-flow: wrap;
    }
    
    .box1, .box2, .box6, .box7 {
        flex-basis: 100%;
     }
    
    .box3, .box4, .box5 {
        flex-basis: 33.33%; 
    }
}

/* mobile */
@media screen and (max-width: 600px) {
    div  {
        height: 100vh; 
        flex-basis: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7 {
        flex-basis: 100%;
     }
}

/* changed every width: 100%; to flex-basis: 100% (better practise/syntax rule)*/