/* used colors are: #32b0ff #fc3fff*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    color: #fff;
    text-align: center;
    font-size: 50px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.primary-box {
    background: #222;
    color: #eee;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.secondary-box {
    background: #eee;
    color: #222;
    font-size: 24px;
    margin: 0 0 10px;    
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* my changings - not perfect, do not know the font */

.secondary-box p
{
    font-family: Arial, Helvetica, sans-serif
}

div .primary-box:first-of-type em {
    font-family: 'Times New Roman', Times, serif
    /* for what? */
} 

 .primary-box em {
    color: #32b0ff;
}

.secondary-box em {
    color: #fc3fff;
}  

/* other solution, for case the class names are all the same: 
 div:nth-child(odd) em
{
    color: #32b0ff;
}
div:nth-child(even) em
{
    color: #fc3fff;
} */