// - Card background color:
$primary: #e0ddb2;
// - Card and aside borders:
$secondary: #dad6ab;
// - Color used for nav and footer: 
$info: #016690;


* {
    margin: 0; 
    padding: 0;
}

.hero {
    background: url(../images/header.jpg);    background-size: cover;
    height: 40vh;
}

html {
    font-size: 1.2rem !important;
    min-width: 315px !important;

}

  .nav {
      font-size: 2rem;
}

.cut {
    overflow: hidden;
}

.card img {
    height: 368px;
    width: 550px;
    background-position: center;
}

/* MEDIA QUERIES  */

/* change breakpoints to task values */
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px
);

/* over 768 is tablet: */
@media (min-width: 768px) {
    html {
        font-size: 1.4rem !important;
    }

    .nav {
        font-size: 1.4rem;
    }

}

    /* over 1024 is desktop */
@media (min-width: 1024px) {
    html {
        font-size: 1.6rem !important;
    }
    .nav {
        font-size: 1.4rem;
    }

    .img {
        width: 40%;
      }

    }

@import "../../node_modules/bootstrap/scss/bootstrap";