<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/1-for.css">
    <title>for</title>
</head>
<body>
    <!-- div.container>div.sizes>div.size-${Size $}*10 -->

    <div class="container">
        <div class="sizes">
            <div class="size-1">Size 1</div>
            <div class="size-2">Size 2</div>
            <div class="size-3">Size 3</div>
            <div class="size-4">Size 4</div>
            <div class="size-5">Size 5</div>
            <div class="size-6">Size 6</div>
            <div class="size-7">Size 7</div>
            <div class="size-8">Size 8</div>
            <div class="size-9">Size 9</div>
            <div class="size-10">Size 10</div>
        </div>
    </div>

</body>
</html>