<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/2-each.css">
    <title>Each</title>
</head>
<body>
    <!-- div.container>div.colors>h1.color${Color Sample $}*4 -->

    <div class="container">
        <div class="colors">
            <h1 class="color1">Color Sample 1</h1>
            <h1 class="color2">Color Sample 2</h1>
            <h1 class="color3">Color Sample 3</h1>
            <h1 class="color4">Color Sample 4</h1>
        </div>
    </div>
</body>
</html>