<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/3-while.css">
    <title>While</title>
</head>
<body>
    <!-- div.container>div.sizes>h1.size${Size Sample $}*5 -->

    <div class="container">
        <div class="sizes">
            <h1 class="size1">Size Sample 1</h1>
            <h1 class="size2">Size Sample 2</h1>
            <h1 class="size3">Size Sample 3</h1>
            <h1 class="size4">Size Sample 4</h1>
            <h1 class="size5">Size Sample 5</h1>
        </div>
    </div>

</body>
</html>