html, body {
    margin: 0;
    padding: 0;
}


.genres {
    display: flex;
    flex-wrap: wrap;
}

.genres > div  {
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    flex-flow: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}

.box2, box3 {
    flex-grow: 10;
}

.box1 {
    background-color: dodgerblue;
}

.box2 {
    background-color: rgb(190, 178, 178);
}

.box3 {
    background-color: rgb(255, 214, 30);
}

.box4 {
    background-color: black;
    color: white;
}

.box5 {
    background-color: darkgrey;
}

.box6 {
    background-color: red;
}


footer {
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    padding: 15px;
}