* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 900px;
}

/* logo */
.container {
    position: relative;
}

header img:nth-child(1) {
    width: 17%;
    margin: 3%;
}

header img:nth-child(2) {
    width: 5%;
    margin: 3%;

    position: absolute;
    right: 0;

    /* position absolute and right (with parent relative), or float right without position (with parent relative too): */
    /* float: right; */
}
/* logo styling end */

/* hero image */
main img {
    /* width: 600px; */
    color: green;
}

.box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 2.200px × 1.317px  */
.main_pic {

    background-image: url(../assets/reichstag.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* max-width: 100%; */
    height: 350px;
    background-position: center;
    position: relative;

    /* background-image: url(../assets/reichstag.jpg); 
     width: 100%; 
     /* height: 800px; */
   /*   margin: 0;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-size: cover;
     text-align: center; 
     background-position: center; */ 
    /* background-repeat: no-repeat; */
    /* max-width: 2200px; */
}

/* burger menü */
/* nav img {
    height: 5vh;
    text-align: right;
} */

h1 {
    font-style: italic;
    color:white;
    text-align: center;
    text-shadow: 1px 1px 1px black;

    /* background-color: darkmagenta; */ 
}

p {
    font-weight: 800;
}

.icons {
    display: inline-block;
}

input[type=button] {
    background-color: #ffc400;
    border: 2px solid rgba(255, 166, 0, 0.726);
    border-radius: 15px;
    color: rgb(216, 148, 21);
    padding: 4px 32px;
    margin-top: 10px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    position: relative;
  }


.icons img {
    /* background-color: red; */
    width: 15%;
    /* float: left; */
    padding: 20px;

}

footer {
    background-color: rgb(117, 117, 117);
    color: white;
}