.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    .sizes {
        padding: 20px;
    }
}

// simple for loop example
// @for $var from 1 to 11 {
//     .size-#{$var} {
//         font-size: 10px * $var;
//     }
// }

// remember, to watch: sass --watch scss:css


    // Task 2: for to while
     $count: 1;

    @while $count < 11 {
        .size-#{$count} {
            font-size: 10px * $count;
        }
        $count: $count + 1;
    }