* {
    padding: 0; 
    margin: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 1080px;
    background-color: black;
    margin: 0 auto;
    color: white;
}

form {
     
}

