div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: example 8s infinite;
  }

  @keyframes example {
    from {}
    to {background-color: rgb(4, 0, 255);  }
  }


 /* other solution: */
 
/*  div {
 width: 100px;
 height: 100px;
 background-color: red;
 animation-name: example;
 animation-duration: 4s;
} @keyframes example {
 from {background-color: red;}
 to {background-color: yellow;}
} */