  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */
  h3 {
    color: blue;
  }
  /* Task 2 */
  .red {
    color: red;
  }
  
  /* Task 3 
  ~ all siblings
  + every second (i guess) */
  img ~ img {
    border: 2px solid;
  }

  /* Task 4
  referenz[Target] {}  */
  a[href$=".com"] 
  {
    background-color: yellow;
  }
  
  /* Task 5 */
  #color {
    color: green;
  }