<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css.css">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <script src=https://kit.fontawesome.com/3c09bcb51a.js crossorigin=“anonymous”></script>
  <title>Tribute Page</title>
</head>

<body>
  <main id="main">
    <p>
    <h1 id="title"> Cosmo </h1><br />
    <div class="far fa-heart"></div>&nbsp;<div class="far fa-heart">&nbsp;</div>
    <div class="far fa-heart"></div> <br />
    </p>
    <div id="img-div">
      <img src="https://i.pinimg.com/564x/b5/13/fc/b513fc407d834af79bf9f6b8eab55aa9.jpg" id="image"
        alt="image from Cosmo">
      <div id="img-caption">Labrador Cosmo, ultrasweet and charming.</div>
    </div>
    <div id="tribute-info">
      <p>The one and only!</p>
      <a href="https://www.instagram.com/itsanytime" id="tribute-link" target="_blank"> ..more on Instagram</a>

      <footer id="footer">&copy; 2020 <a href="https://www.itsanytime.de" target="_blank">itsAnyTime</a></footer>
  </main>

  <script src="main.js"></script>
</body>

</html>