<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="landing.css">
    <title>Welldog</title>
  </head>
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  
  <body>
    <header id="header">
      <p>
        <h1>Welldogs</h1>
      </p>
      <nav id="nav-bar">
        <ul id="test">
          <li class="nav-icon">
            <a class="nav-link" href="#pics">Pics</a>
          </li>
          <li class="nav-icon">
            <a class="nav-link" href="#product-video">Video</a>
          </li>
          <li class="nav-icon">
            <a class="nav-link" href="#newsletter">Newsletter</a>
          </li>
        </ul>
      </nav>
      <section id="pics">
        <img src="http://any.gwsa.de/media/pb1.jpg" id="header-img" alt="header-image">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque quod earum culpa aliquid facilis ullam omnis sint, beatae autem tempore possimus quam voluptate consequuntur consequatur alias nam maxime dicta.
        </p>
  
      </section>
    </header>
    <main id="product-video">
      <div><iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/HqrregILFlE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <section id="newsletter"></section>
      <form id="form" action="https://www.freecodecamp.com/email-submit" method="GET">
        <label for="email" id="email-label">
          <h2>I want to get news:</h2>
        </label> <br><br>
        <input type="email" name="email" id="email" placeholder="Your email adress">
        <input type="submit" id="submit" value="Order Newsletter">
      </form>
      </section>
  
    </main>
  
    <footer id="footer">&copy; 2020 <a href="https://www.itsanytime.de" target="_blank">itsAnyTime</a></footer>
  </body>
  
  </html>