<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="landing.css">
    <title>Welldog</title>
</head>

<body>
    <header id="header">
        <h1>Welldogs</h1>
        <nav id="nav-bar">
            <ul>
                <li class="nav-link active">
                    <a href="#">Home</a>
                </li>
                <li class="nav-link">
                    <a href="about.html">About</a> 
                </li>
                <li class="nav-link">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>

        <img
            src="https://instagram.fham6-1.fna.fbcdn.net/v/t51.2885-15/e35/40859410_2196423390638931_6148351981057791239_n.jpg?_nc_ht=instagram.fham6-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=UJIYs669akgAX9eR2Ut&tp=18&oh=b2bf5bbe21df0b051000be869577e333&oe=5FD93CD8"
            id="header-img" alt="header-image">


    </header>
    <main>
        <div id="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/HqrregILFlE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    
        <form id="form" action="https://www.freecodecamp.com/email-submit" method="GET">
            <label for="email" id="email-label">Email:</label><br>
            <input type="email" name="email" id="email" placeholder="Your email adress">
            <input type="button" id="submit" value="Submit">
        </form>
    
    </main>
</body>

</html>